[flake8]
# Указываем максимальную длину строки в 119 символов
max-line-length = 119

# Исключаем из проверки автосгенерированные миграции и виртуальное окружение
exclude =
    .git,
    __pycache__,
    migrations,
    venv,
    .venv

